{{
response.files.append(URL(c='static', f='/js/pdf/pdf.js'))
book_url = URL('default', 'getfile_as_pdf', args=[tome_id,file_hash,'.pdf'])
response.title = "View: {}".format(db_str_to_form(tome['title']))
response.breadcrumb_bar = XML("View {} by {}".format(tome_link(tome), authors_links(tome['authors'])))
left_sidebar_enabled=True
}}

{{extend 'layout.html'}}

<div id="reader_prev" class="unselectable" onclick="prevPage();">‹</div>
<div id="reader_area"></div>
<div id="reader_next" class="unselectable" onclick="nextPage();">›</div>
<div class='page_number_info'>
<span id="current_page_num"></span> / <span id="page_count"> / </span>
</div>


{{include 'viewer/loader.html'}}
{{include 'viewer/paging.html'}}

<script>
var currentPdf = null;
var currentPageNumber = 0;
var renderTarget = null;
var rendering = false;

function prevPage()
{
    if(currentPageNumber > 1) {
        gotoPageNum(currentPageNumber-1);
    }
}

function nextPage()
{
    if(currentPageNumber < currentPdf.numPages) {
        gotoPageNum(currentPageNumber+1);
    }
}

function gotoDest(dest)
{
     currentPdf.getPageIndex(dest).then(function(pageIndex) {
         var pageNum = pageIndex + 1;
         gotoPageNum(pageNum);
     });
}

function gotoPageNum(pageNum)
{
    if(rendering) {
        return;
    }

    rendering = true;
    currentPageNumber = pageNum;    
    var newHash = "";
    if(pageNum != 1)
        newHash = "#" + pageNum;

    if (location.hash != newHash)
        location.hash = newHash;

    $("#current_page_num").text(currentPageNumber);
    currentPdf.getPage(currentPageNumber).then(function(page) {
        renderPage(renderTarget, page); 
    });
}


function renderPage(renderTarget, page)
{
    var viewport = page.getViewport(1);

    var desiredWidth = renderTarget.offsetWidth;
    var scale = desiredWidth / viewport.width;
    var scaledViewport = page.getViewport(scale);		

    var canvas = renderTarget.firstChild;
    if(canvas == null) {
        canvas = document.createElement('canvas');
        renderTarget.appendChild(canvas);
    }

    var context = canvas.getContext('2d');
    canvas.height = scaledViewport.height;
    canvas.width = scaledViewport.width;

    var renderContext = {
            canvasContext: context,
            viewport: scaledViewport
    };

    page.render(renderContext).then(function() {
        hideLoader();
        rendering = false;
        $("#current_page_num").text(currentPageNumber);
    });
}


// adapted from bindLink (pdf.js)
function createLink(element, item)
{
    var dest = item.dest;
    if (dest instanceof Array) {
        var firstDest = dest[0];
        element.onclick = function goToDestination(e) {
            gotoDest(firstDest);
            return false;
        };
    }
}

// adapted from PDFOutlineView_render (pdf.js)
function renderOutline(outline, container, linkCreateFct)
{
    var queue = [{ parent: container, items: outline }];
    while (queue.length > 0) {
       var levelData = queue.shift();
       for (var i = 0, len = levelData.items.length; i < len; i++) {
           var item = levelData.items[i];
           var div = document.createElement('div');
           div.className = 'outlineItem';
           var element = document.createElement('a');

           linkCreateFct(element, item);
           element.textContent = item.title;
           div.appendChild(element);
           if (item.items.length > 0) {
               var itemsDiv = document.createElement('div');
               itemsDiv.className = 'outlineItems';
               div.appendChild(itemsDiv);
               queue.push({ parent: itemsDiv, items: item.items });
           }
           levelData.parent.appendChild(div);
       }
   }
}

function renderBook(url, targetDivId, outlineDivId, initialPageNumber)
{
    renderTarget = document.getElementById(targetDivId);
    PDFJS.getDocument(url).then(function(pdf) {
        currentPdf = pdf;
        $("#page_count").text(currentPdf.numPages);
        gotoPageNum(initialPageNumber);

        currentPdf.getOutline().then(function(outline) {
            var outlineContainer = document.getElementById(outlineDivId);
            renderOutline(outline, outlineContainer, createLink);
        });
    });
}

addPagingKeyHandlers($("body"), prevPage, nextPage);

var initialPageNumber = 1;
if(location.hash) {
    initialPageNumber = parseInt(location.hash.slice(1));
    if(!$.isNumeric(initialPageNumber)) {
        initialPageNumber = 1;
    }
}

renderBook("{{=book_url}}", "reader_area", "toc_container", initialPageNumber);
</script>


{{block left_sidebar}}
<div id="toc_container">
</div>
{{end}}
