{{
response.files.append(URL(c='static',f='/js/epub/jszip.min.js'))
response.files.append(URL(c='static',f='/js/epub/mime-types.js'))
response.files.append(URL(c='static',f='/js/epub/epub.js'))
book_url = URL('default', 'getfile_as_epub',args=[tome_id,file_hash,'.epub'])
response.title="View: {}".format(tome['title'].encode('utf-8'))
response.breadcrumb_bar = XML("View {} by {}".format(tome_link(tome), authors_links(tome['authors'])))
left_sidebar_enabled=True
}}

{{extend 'layout.html'}}

<script>
    EPUBJS.filePath = "{{=URL(r=request,c='static',f='/js/epub/') }}";
    var book = ePub("{{=book_url}}");
    
    book.getToc().then(function(toc){
        var toc_ul= document.getElementById("toc");

        toc.forEach(function(chapter) {
            var li = document.createElement("li");
            var a = document.createElement("a");
            a.textContent = chapter.label;

            li.appendChild(a);
            toc_ul.appendChild(li);
            a.onclick = function() {
                book.goto(chapter.href);
                return false;
            }
        });

    });

    book.ready.all.then(function(){
        if(initialBookPosition) {
            book.gotoCfi(initialBookPosition);
        }
    });

    var firstTimeLocationChangeDone = false;
    book.renderer.on("renderer:locationChanged", function(newLocation) {
        var newHash = "#"+newLocation;
        // don't change the location the first time as it is the initial load => title page
        if(!location.hash && !firstTimeLocationChangeDone)
        {
            firstTimeLocationChangeDone = true;
            return;
        }

        if (location.hash != newHash)
            location.hash = newHash;

    });
</script>


<div id="reader_prev" class="unselectable" onclick="book.prevPage();">‹</div>
<div id="reader_area"></div>
<div id="reader_next" class="unselectable" onclick="book.nextPage();">›</div>

<div id="loader"><img src="{{=URL(r=request,c='static',f='/images/loader.gif') }}"></div>
<script>

$("body").on("keydown", function(e){
    var thisIndex = $(".selected").index();
    var newIndex = null;
    if(e.keyCode === 38 // up
      || e.keyCode === 37 // left
      ) {
        
       book.prevPage();
    }
    else if(e.keyCode === 40 // down
            || e.keyCode === 39 // right
            || e.keyCode === 32 // space
           ) {

       book.nextPage();
    }
})

initialBookPosition = null;
if(location.hash) {
    initialBookPosition = location.hash.slice(1);
}

book.renderTo("reader_area");

function showLoader()
{
    document.getElementById("loader").style.display = "block";
}

function hideLoader()
{
    document.getElementById("loader").style.display = "none";
}

book.on('renderer:chapterDisplayed', hideLoader);
book.on('renderer:chapterUnloaded', showLoader);

</script>


{{block left_sidebar}}
<div id="toc_container">
<ul id="toc">

</ul>
</div>
{{end}}
