{{extend 'layout.html'}}
{{ include 'default/snippets.html' }}
<script src="{{=URL('static', 'js/title_case_guessing.js')}}" type="text/javascript"></script>
<h1 class="first_on_page"> {{=tome_link(tome)}} by {{=authors_links(tome['authors'])}} </h1>

{{=form}}

{{
def show_author_relationship(author_link_info):
    author = author_link_info['detail']
    edit_link_url = URL('edit_tome_author_link',args=[tome_id, author['id']])
}}
    {{=author_link(author)}} {{=int(author_link_info['fidelity'])}}/100 {{=A('edit link', _class='edit', _href=edit_link_url)}}
{{pass}}

<h2 id='authors'> Authors </h2>
<ul>
{{for author_link_info in tome['authors']:}}
    <li> {{show_author_relationship(author_link_info)}}</li>
{{pass}}
</ul>
{{=A("Add author link", _href=URL( 'link_tome_to_author',args=[tome_id] ))}}

<h2 id='files'> Files </h2>
{{show_tome_file_block(tome)}}
{{=A("Upload file", _href=URL( 'upload', 'upload_file_to_tome',args=[tome['guid']] ))}}<br/>
{{=A("Add file link", _href=URL( 'link_tome_to_file',args=[tome_id] ))}}

<br>

<h2 id='synopses'> Synopses </h2>
{{show_tome_synopses_block(tome)}}
{{hide_all_synopses()}}
{{=A("Add synopsis", _href=URL( 'add_synopsis_to_tome',args=[tome['guid']], anchor='synopses' ))}}
<br>

<h2> Operations </h2>
{{=A('Merge', _id='merge_tome', _href=URL( 'fusion', 'select_tome_merge_partner',args=[tome['guid']]))}}<br>

<span class="guid"> GUID: {{ =tome['guid'] }} </span>


<script type="text/javascript">
jQuery(document).ready(function(){
   $("#no_table_title").focus();
});
  
$(window).keydown(function(e) {
    var tagName = e.target.tagName.toLowerCase();    
    if(tagName != 'input' && tagName != 'textarea'){
        if(e.keyCode === 77) { //m
            e.stopPropagation();
            $("#merge_tome")[0].click();
        }
    }

    saveFormIfControlSPressed(e);
});
</script>
