{{ 
search_plugin_url = URL( 'misc', 'install_search_bar',args=[], extension='xml' )
extend_head = XML('<link rel="search" type="application/opensearchdescription+xml" title="Montag" href="{}" />'.format(search_plugin_url))
}}
{{extend 'layout.html'}}

<ul>


{{ if auth.has_privilege('data_view'): }}
    <li> {{ =A("Show Random Tomes", _href=URL( 'random_tomes',args=[] )) }}</li>
{{pass}}
{{ if auth.has_privilege('friends_view'): }}
    <li> {{ =A("List Jobs", _href=URL( 'jobs', 'list_jobs',args=[] )) }}</li>
{{pass}}
{{ if auth.has_privilege('statistics_view'): }}
    <li> {{ =A("Show Statistics", _href=URL( 'stats', 'show_stats',args=[] )) }}</li>
    <li> {{ =A("Check Databases for Consistency", _href=URL( 'stats', 'show_database_check',args=[] )) }} </li>
    <li> {{ =A("Check Main Database (Merge DB) for Content Problems", _href=URL( 'stats', 'show_database_content_check',args=[] )) }} </li>
{{pass}}
</ul>


{{ search_plugin_url = URL( 'misc', 'install_search_bar',args=[], scheme=True, host=True, extension='xml' ) }}
<a href="javascript:window.external.AddSearchProvider('{{=search_plugin_url}}');">Install Firefox search bar</a>
