{{from pydb_helpers import pydb_functions}}
{{extend 'layout.html'}}
{{ include 'default/snippets.html' }}
{{ if tome is None: }}
Tome not found in database.
{{ else:}}
<div class='tome'>
    <div class='tome_text_container'>
        <span class="tome_info_block"> {{=tome_link(tome)}} by&nbsp;{{=authors_links(tome['authors'])}}
        {{if auth.has_privilege('data_edit'):}}
         <span class="edit"> {{ =A("edit", _id='edit_tome', _href=URL( 'edit_tome',args=[tome['guid']] )) }} </span>
        {{pass}}
        </span><br>
        {{show_tome_edition_tags_block(tome)}}

    {{relevant_synopses = list(network_params.relevant_items(tome['synopses']))
    if relevant_synopses:
        best_synopsis = sorted(relevant_synopses, key=itemgetter('fidelity'), reverse=True)[0] }}
        <span class="synopsis" id="synopsis">
        <pre>{{ =format_synopsis(best_synopsis) }}</pre> {{pass}} <br>
        </span>
    {{pass}}
    </div>

    {{ if pydb.config.enable_covers(): }}
        <div class='tome_cover_container'>
            
        {{ if pydb_functions.has_cover(pdb, tome['id']): }}
        <div class='large_cover'>
            <img src="{{=URL( 'covers', 'get_best_cover', args=[tome['id']]) }}" alt="Large Cover" />
        </div>
        {{ pass }}
        {{if auth.has_privilege('data_edit'):}}
        <span class="edit"> {{ =A("edit covers", _href=URL( 'covers', 'edit_covers',args=[tome['id']] )) }} </span>
         -
        <span class="edit"> {{ =A("upload cover", _href=URL( 'upload', 'upload_cover',args=[tome['id']] )) }} </span>
        {{pass}}
        </div>
    {{ pass }}

    <div class="tome_file_info">
    <br/>
    {{ relevant_files = filter(lambda f: f['file_type']==pydb.FileType.Content and network_params.is_relevant(f), tome['files'])}}
    {{if relevant_files: }}
      {{show_tome_file_block(tome)}}
    {{else:}}
      No file information found
    {{pass}}
    </div>
</div>
{{ pass }}


<script type="text/javascript">
$(document).keydown(function(e) {
    if(e.keyCode === 69) { //e
        e.stopPropagation();
        $("#edit_tome")[0].click(); 
    }
});
</script>
