{{extend 'layout.html'}}
{{ include 'default/snippets.html' }}
{{ if tome is None: }}
Tome not found in database.
{{ else:}}
<div class='tome'>
    <div class='tome_text_container'>
        <span class="tome_info_block"> {{=tome_link(tome)}} by&nbsp;{{=authors_links(tome['authors'])}}
         <span class="edit"> {{ =A("edit", _id='edit_tome', _href=URL( 'edit_tome',args=[tome['guid']] )) }} </span>
        </span><br>
        {{ if tome['edition']: }} {{ =tome['edition'] }}, {{pass}}
        {{ if tome['publication_year']: }} {{ =tome['publication_year'] }} {{pass}}
        <br>
        {{=tome['principal_language']}} {{=pydb.tome_type_text(tome['type'])}} — {{=int(tome['fidelity'])}}/100
        {{ if tome['tags']: }} — {{ =tome_tag_links(tome)}}{{pass}}<br>

        {{ if tome['synopses']: }}
            {{ relevant_synopsis = sorted(tome['synopses'], key=itemgetter('fidelity'), reverse=True)[0] }}
            <span class="synopsis" id="synopsis">
            {{ if relevant_synopsis and relevant_synopsis['fidelity'] > cfg_tags_minimum_display_fidelity :}} <pre>{{ =render_synopsis(relevant_synopsis) }}</pre> {{pass}} <br>
            </span>
        {{pass}}
    </div>


    {{ if pydb.config.enable_covers(): }}
        <div class='tome_cover_container'>
            
        {{ if has_cover(tome['id']): }} 
        <div class='large_cover'>
            <img src="{{=URL( 'covers', 'get_best_cover', args=[tome['id']]) }}" alt="Large Cover" />
        </div>
        {{ pass }}
        <span class="edit"> {{ =A("edit covers", _href=URL( 'covers', 'edit_covers',args=[tome['id']] )) }} </span>
         -
        <span class="edit"> {{ =A("upload cover", _href=URL( 'upload', 'upload_cover',args=[tome['id']] )) }} </span>
        </div>
    {{ pass }}

    <div class="tome_file_info">
    <br/>
    {{ relevant_files = filter(lambda f: f['file_type']==pydb.FileType.Content and f['fidelity'] >= pydb.network_params.Min_Relevant_Fidelity, tome['files'])}}
    {{if relevant_files: }}
      {{show_tome_file_block(tome)}}
    {{else:}}
      No file information found
    {{pass}}
    </span>
</div>
{{ pass }}


<script>
$(document).keydown(function(e) {
    if(e.keyCode === 69) { //e
        e.stopPropagation();
        var target_link=$("#edit_tome")[0]
        target_link.click()
    }
});
</script>
