[common]
enable_covers=True
ignore_rate_limit_in_lan=True

[comserver]
port=1234
upload_rate_limit_kbytes_per_second=500
request_files_on_incoming_connection=True
max_file_size_to_request_bytes=1000000000
keep_alive_send_interval_seconds=120
read_timeout_seconds=1200

[web]
enable_auth=False

[permissions]
; valid roles: viewer, editor, admin
; set to empty to prevent access

role_anonymous_all = editor
role_anonymous_localhost = admin
role_authenticated_all = editor
role_authenticated_localhost = admin

[importer]
; absolute path or path relative to base dir allowed
watch_folder = import_watch

[content]
# use a list format to only import / download tomes in those languages
# or leave it empty (default) to accept all
filter_tome_languages =
#  filter_tome_languages = en, de, pt

accept_unknown_languages = True