{{extend 'layout.html'}}
{{ include 'default/snippets.html' }}
{{ import time }}

{{if is_locked: }}
<div class='lock_notice'>
    Communication with friends is currently <b>locked</b>.
    Please go to {{ =A("Unlock Comm Data", _href=URL( 'unlock_comm_data',args=[])) }} to unlock the comm database.
</div>

{{pass}}

{{ =LOAD('friends','list_friends.load', ajax=True, times='infinity', timeout=5000, content=LOAD('friends','list_friends.load')) }}


{{ if not is_locked: }}
{{ =A("Update All", _class='button', _href=URL('fetch_updates_all' )) }}
{{ pass }}


<br>
<br>
{{ if auth.has_privilege('administer'): }}
{{ if not is_locked: }}{{ =A("Add friend", _class='button', _href=URL( 'add_friend')) }}{{pass}}
{{pass}}
<br/>
<br/>
<br/>
{{ =A("Refresh", _class='button', _href=URL( 'list_friends')) }}
{{ =A("Clear completed jobs", _class='button', _href=URL( 'clear_completed_jobs')) }}
