{{ def print_check_results(dbname, problems): 
errors = 0
}}
<h1> {{=nice_name(dbname)}} </h1>
{{ for category, items in problems.iteritems(): }}
{{if items: }}
<h2> {{=nice_name(category)}} </h2>
<table>
<tr>
{{
guid_is_tome = True
if 'author' in category:
    guid_is_tome = False
pass    
    
i = items[0]
headings = list(i.iterkeys())

    for heading in headings: }}
    <th>{{=nice_name(heading)}}</th>
    {{pass}}
</tr>
   
    {{for item in items:
    errors +=1
    }}
    <tr>
        {{for heading in headings: }}
        <td>
            {{if 'guid' in heading: }}
                {{if guid_is_tome: }}
                    {{=A(item[heading], _href=URL( 'default','view_tome', args=item[heading]))}}
                {{ else: }}
                    {{=A(item[heading], _href=URL( 'default','view_author', args=item[heading]))}}
                {{ pass }}
            {{elif 'last_modification_date' in heading: }}
               {{=human_readble_time(item[heading])}}
            {{ else: }}
                {{=string_or_empty(item[heading])}}
            {{ pass }}
        </td>
        {{pass}}
    </tr>
    {{pass}}
</table>
{{pass}}
{{pass}}


{{if not errors: }}
No problems found.
{{else:}}
{{=errors}} problems found 
{{pass}}

{{pass}}
