{{
import pydbhelpers
import html_helpers
}}

{{ def print_check_results(dbname, problems):
errors = 0
}}
<h1 class="first_on_page"> {{=pydb_helpers.nice_name(dbname)}} </h1>
{{ for category, items in problems.iteritems(): }}
{{if items: }}

<h2 onclick="jQuery('#checkTb_{{=category}}').slideToggle(100)"> {{=len(items)}} {{=pydb_helpers.nice_name_lcfirst(category)}}  </h2>
<table class='checkResult' id='checkTb_{{=category}}'>
<tr>
{{
guid_is_tome = True
if 'author' in category:
    guid_is_tome = False
pass    

i = items[0]
headings = list(i.iterkeys())
if 'name_key' in headings:
    headings.remove('name_key')
pass
if 'last_modification_date' in headings:
    headings.remove('last_modification_date')
pass
for heading in headings: }}
    <th>{{=pydb_helpers.nice_name(heading)}}</th>
    {{pass}}
</tr>
   
    {{for item in items:
    errors +=1
    }}
    <tr>
        {{for heading in headings: }}
        <td>
            {{if 'guid' in heading: }}
                {{if guid_is_tome: }}
                    {{=A(item[heading], _href=URL( 'default','view_tome', args=item[heading]))}}
                {{ else: }}
                    {{=A(item[heading], _href=URL( 'default','view_author', args=item[heading]))}}
                    {{=A('Merge', _href=URL('fusion','select_author_merge_partner', args=item[heading]))}}
                {{ pass }}
            {{elif 'last_modification_date' in heading: }}
               {{=html_helpers.human_readable_time(item[heading])}}
            {{ else: }}
                {{=html_helpers.string_or_empty(item[heading])}}
            {{ pass }}
        </td>
        {{pass}}
    </tr>
    {{pass}}
</table>
{{pass}}
{{pass}}


{{if not errors: }}
No problems found.
{{else:}}
{{=errors}} problems found 
{{pass}}

{{pass}}


{{def hide_all_checks():}}
<script>
jQuery(document).ready(function(){
   jQuery('.checkResult').hide();
});
</script>
{{return}}
