{{extend 'layout.html'}}
<h1 class="first_on_page"> {{=tome_link(tome) }} </h1>
<h1>Current cover:</h1>

<div>
    {{ if current_cover: }} 
    <div class='current_cover'>
        <img src="{{=URL( 'get_best_cover', args=[tome['id']]) }}" alt="Current Cover" />
        <br>{{ = int(current_cover['fidelity']) }} / 100
    </div>
    {{ pass }}
</div>
<h1 class="room_above" >All covers:</h1>
<div class='cover_list'>
{{ for cover in available_covers: }} 
    <div class='small_cover'>
        <a href="{{=URL('set_main_cover', args=[ tome['id'], cover['hash'], cover['file_extension'] ]) }}">
            <img src="{{=URL( 'get_cover_image', args=[ cover['hash'], cover['file_extension'] ]) }}" alt="{{ = cover['fidelity'] }}" />
        </a>
        <br>{{ = int(cover['fidelity']) }} / 100
    </div>
    {{ pass }}
</div>
<h1 class="room_above" >Possible covers:</h1>
<div class='cover_list'>

{{ for content in available_content: }} 
    <div class='small_cover'>
        <a href="{{=URL('set_cover_from_content', args=[ tome['id'], content['hash'], content['file_extension'], False ]) }}">
            <img src="{{=URL( 'extract_cover_image_from_content', args=[ content['hash'], content['file_extension'] ]) }}" alt="No image found" />
        </a>
    </div>
    {{ pass }}
</div>
